.swiper {
  height: 100%;
}

.wiper-width,
.swiper.swiper-fade.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-watch-progress.swiper-backface-hidden {
  height: 100%;
}

.swiper-width {
  padding: 0 !important;
  margin: auto !important;
  width: 100% !important;
}

.swiper-wrapper .title {
  widows: 100%;
}

.banner-top .name {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: -10px;
}

.banner-top .name strong {
  font-size: 50px;
  font-weight: 400;
}

.banner-top .info {
  font-size: 25px;
  font-weight: 400;
  color: #000000;
}

.banner-bottom h3 {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.title-right .name {
  width: 37%;
  text-align: center;
  line-height: normal;
  border-radius: 30px;
  background-color: #333333;
  padding: 9px 0 5px;
}

.title-right .name span {
  color: #7DC242 !important;
  font-size: 30px;
  font-weight: 400;
}

.title-right ul li span:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.title-right ul li {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #333333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.title-right ul li span {
  margin-right: 15px;
}

.title-right ul li span:last-child {
  font-weight: 300;
  width: 110px;
}

.wrap-swiper img {
  width: 100%;
  height: 100%;
}

.swiper-slide button {
  position: absolute;
  top: 80%;
  right: 10%;
}

@media(max-width: 1500px) {
  .banner-top .name {
    font-size: 1.5rem;
  }

  .banner-top .name strong {
    font-size: 1.8rem;
  }

  .banner-top .info {
    font-size: 1.7rem;
  }

  .banner-bottom h3 {
    font-size: 1.5rem;
  }

  .title-right .name {
    font-size: 1.8rem;
  }

  .title-right ul li {
    font-size: 1.5rem;
  }
}

@media(max-width: 1100px) {}