.flex-wrap {
  height: 1080px;
}

.guide-right {
  height: 100%;
  overflow-y: scroll;
}

.top-text {
  flex-flow: column;
  align-items: flex-start;
  margin: 0px 170px 0 150px;
  padding-top: 78px;
  padding-bottom: 25px;
}

.top-text .txt-medium {
  margin-bottom: 0;
}

.guide-right .display-flex {
  line-height: 0;
  margin-top: 35px;
  padding-bottom: 35px;
  border-bottom: 2px solid #000000;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.guide-right .select-item button {
  font-size: 25px;
  font-weight: 400;
  border: none;
  background: none;
  border-right: 1px solid;
  padding: 10px 30px;
  height: 36px;
  color: #666;
  padding-bottom: 5px;
}

.guide-right .select-item button:first-child {
  padding-left: 0;
}

.guide-right .select-item button:last-child {
  border: none;
}

.patient-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.patient-info h3,
.patient-info p {
  font-size: 25px;
  color: #666;
  margin-bottom: 0;
}

.patient-info h3 {
  font-weight: 400;
  margin-right: 22px;
}

.patient-info p {
  font-weight: 300;
}

.contain {
  margin: 0px 170px 0 150px;
}

.contain .basket {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.contain .basket .form-check-input {
  border-radius: 0;
  width: 36px;
  height: 36px;
  border: 1px solid;
}

.contain .basket label {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  margin-left: 15px;
}

.contain .basket input[type=radio]:checked {
  background: #AACE37;
  border: none;
}

.contain .basket input[type=radio]::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 3px;
  border-radius: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.contain .basket input[type=radio]:checked::after {
  width: 25px;
  height: 25px;
  background: url(@/img/check.png) 0 0 no-repeat;
  background-size: auto;
  border: 1px #fff;
  margin-left: 9px;
  margin-top: 9px;
}

.on-active {
  font-weight: 500 !important;
  color: #AACE37 !important;
  font-weight: 500;
}

.on-active2 {
  color: #652D8D !important;
}

.no-basket h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 180px 0;
  margin: 0;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.contain .basket label {
  margin-right: 50px;
}

.refresh button {
  background: none;
  border: none;
  padding-bottom: 5px;
}

.refresh {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.refresh h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

.infomation {
  margin-top: 30px;
}

.infomation h3 {
  font-size: 25px;
  font-weight: 400;
  color: #666;
}


.guide-right .select-item button a:focus {
  font-weight: bold;
  color: #652D8D;
  opacity: 70%;
}

.contain .basket .form-check-input[type=radio]:focus {
  background-color: #7DC242;
}